*{
    box-sizing: border-box;
    list-style: none;
}
a{
    text-decoration: none;
}
body , html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
    overflow-x:hidden;
}
/* start nav */
.navbar{
  background-color: #003034;
}
.logo-img{
  width: 50px; 
}
.navbar .navbar-brand {
  color:  white!important;
}
.navbar .navbar-brand:hover {
  color: none !important;
}
.navbar .nav-link{
  color:white !important;
}
.navbar .nav-link:hover{
  color:  #5ddaec !important;
}
.navbar .nav-link:active{
    color:  #5ddaec !important;

}
.nav-search{
  height: 51px;
  transform: translatey(10px);
  -webkit-transform: translatey(10px);
  -moz-transform: translatey(10px);
  -ms-transform: translatey(10px);
  -o-transform: translatey(10px);
  -o-transform: translatey(10px);
}
/* end nav */
/* start title wedget */
.first-title{
  color: #003034;
}
main .title{
    height: 40px;
    width: 100%;
}
main .title h1{
    margin: 10px;
    text-align: center;
    font-size: 17px;
    padding: 1px;
} 
/* End title wedget */

/* start slide wedget */
.slide img{
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}
.slide img:hover{
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.slide .but{
  background-color: #294045 !important;
}
.slide .cap{
      color: #5ddaec;
}
/* End slide  wedget*/


/* start personal wedget */
main .section{
    overflow: hidden;
    width: 100%;
    margin: 20px 0px;
    background-color:#003034;
}

main  h2{
    color: white;
    font-size: x-large;
}
.title input{
    padding: 9px;
    outline: none;
    border: none;
    margin: 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
} 

.section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 3px 7px 2px rgba(217, 217, 217, 1),
    -19px -3px 19px 3px rgb(230, 231, 230);
    padding: 15px;
}
h2 {
    color: #34495e;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
table th {
    background-color: #111112;
    color: white;
}
/* end personal wedget*/


/* start content category */
.container{
    position: relative;
}
.category .section{
    background-color: #003034;
}
.header h2{
    color: white;
    background-color: #003034;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.category a{
  text-decoration: none;
  color: #bfbfbf
}
/* end  content category */



 /* start leaders  category * */
 .leader .card{
    position: relative;
    min-height: 160px;
 }
.leader .card img{
    width: 160px;
    height: 160px;
}

/* End leaders category */


/* start courses */
.parent {
  padding: 20px;
}

.course .card {
  padding-top: 50px;
  border-radius: 10px;
  border: 3px solid rgb(255, 255, 255);
  transform-style: preserve-3d;
  background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
      repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
  background-size: 60px 60px;
  background-position: 0 0, 0 0;
  background-color: #f0f0f0;
  width: 100%;
  box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
  transition: all 0.5s ease-in-out;
}

.course .card:hover {
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  background: #003034;
  border-radius: 10px 100px 10px 10px;
  transition: all 0.5s ease-in-out;
  padding: 60px 25px 25px 25px;
  transform-style: preserve-3d;
}
.course .card {
  background: darkcyan !important;
}
.content-box .card-title {
  display: inline-block;
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
  margin: 10px auto;
}

.course .content-box .card-title:hover {
  transform: translate3d(0px, 0px, 60px);
}

.course .content-box .card-content {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #f2f2f2;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.course .content-box .card-content:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  color: rgb(7, 185, 255);
  background: white;
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 60px);
}

.date-box {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  background: white;
  border: 1px solid rgb(7, 185, 255);
  padding: 10px;
  transform: translate3d(0px, 0px, 80px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
}

.date-box span {
  display: block;
  text-align: center;
}

.date-box .month {
  color: rgb(4, 193, 250);
  font-size: 9px;
  font-weight: 700;
}

.date-box .date {
  font-size: 20px;
  font-weight: 900;
  color: rgb(4, 193, 250);
}
 
/* End courses */


/* start prices */
.pricing {
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  background-color: rgb(6 221 59);
  padding: 1.5rem;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}

.price {
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.lists {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  grid-row-gap: 0.75rem;
  row-gap: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(255, 255, 255, 1);
}

.list {
  display: flex;
  align-items: center;
}

.list svg {
  height: 1rem;
  width: 1rem;
}

.list span {
  margin-left: 1rem;
}

.action {
  margin-top: 2rem;
  width: 100%;
  border: 2px solid  rgba(255, 255, 255, 1);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.625rem 1.5rem;
  font-weight: 600;
  text-align: center;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 1);
  outline: none;
  text-decoration: none;
  transition: all .2s ease;
}

.action:hover {
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
}
/* End prices */




/* start content */

/* start title  */

/* end title */
button {
    background-color: #198754;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
    border-radius: 12px;
}
button:hover {
    background-color: black;
}
.status {
    font-weight: bold;
}
.status.present {
    color: green;
}
.status.absent {
    color: red;
}
.status.partial {
    color: orange;
}
.container .learn{
    display: flex ;
    flex-direction: column;
    gap: 20px;
}
.container .learn div{
    margin-top: 10px;
    background: white;
    transition: .3s;
    padding: 7px;
    border-radius: 12px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.container .learn div:hover{
    background-color: #000;
}

.container .learn div a{
    color: black;
    font-size: 15px;
    font-weight: bold;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.container .learn div:hover a{
    color: white;
}
.summary {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.summary div {
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.summary div:hover{
    background: #000;
    color: white;
}
.add-student-form {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.add-student-form input, .add-student-form select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* flex: 1 1 calc(50% - 20px); */
    width: 300px;
    outline: none;
}
.filter-section {
    margin-bottom: 15px;
}
.filter-section  label{
    color: white;
    font-size: 22px;
}
.filter-section select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 11px;
    width: 30%;
}
.rating-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating-cell select {
    width: 60px;
}
.sort-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.sort-buttons button {
    flex: 1 1 auto;
    width: fit-content;
    border-radius: 13px;
}
.download-buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    flex: 1 1 1;
}
.search-bar {
    margin-bottom: 15px;
}
.search-bar input {
    width: 40%;
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 10px;
    outline: none;
}
canvas {
    max-width: 100%;
    height: auto;
}
/* Responsive Design */
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
    .add-student-form input, .add-student-form select, .filter-section select {
        width: 100%;
        margin-bottom: 10px;
    }
    .sort-buttons {
        flex-direction: column;
    }
    .sort-buttons button {
        width: 100%;
        margin-bottom: 10px;
    }
    table {
        font-size: calc(0.7rem + 0.2vw);
    }
    table th, table td {
        padding: 4px;
    }
    .summary div {
        font-size: calc(0.7rem + 0.2vw);
    }
}
/* end category */

/* start form */
.form-parent{
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.form-content .log{
    height: fit-content;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .form button {
    align-self: flex-end;
  }
  
  .flex-column > label {
    color: #151717;
    font-weight: 600;
  }
  
  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn:hover {
    border: 1px solid #2d79f3;
    ;
  }
  .form-content img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
/* End form */


/* /* start social wedget / */
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.button-container button {
  cursor: pointer;
  text-decoration: none;
  color: #ffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0e6699;
  border: 2px solid #022a50;
  transition: all 0.45s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.button:hover {
  transform: rotate(360deg);
  transform-origin: center center;
  background-color: #ffff;
  color: #3b4f9e;
}

.button:hover .btn-svg {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg)
    brightness(103%) contrast(103%);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* End social wedget*/








.ezy__signin1 {
  /* Bootstrap variables */
  --bs-body-color: #333b7b;
  --bs-body-bg: rgb(255, 255, 255);

  /* Easy Frontend variables */
  --ezy-theme-color: rgb(13, 110, 253);
  --ezy-theme-color-rgb: 13, 110, 253;
  --ezy-form-card-bg: #ffffff;
  --ezy-form-card-shadow: 0 16px 24px rgba(197, 206, 222, 0.25);

  background-color: var(--bs-body-bg);
}

/* Gray Block Style */
.gray .ezy__signin1,
.ezy__signin1.gray {
  /* Bootstrap variables */
  --bs-body-bg: rgb(246, 246, 246);

  /* Easy Frontend variables */
  --ezy-form-card-bg: #ffffff;
  --ezy-form-card-shadow: 0 16px 24px rgba(209, 223, 247, 0.25);
}

/* Dark Gray Block Style */
.dark-gray .ezy__signin1,
.ezy__signin1.dark-gray {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(30, 39, 53);
  --bs-dark-rgb: 255, 255, 255;

  /* Easy Frontend variables */
  --ezy-form-card-bg: #253140;
  --ezy-form-card-shadow: none;
}

/* Dark Block Style */
.dark .ezy__signin1,
.ezy__signin1.dark {
  /* Bootstrap variables */
  --bs-body-color: #ffffff;
  --bs-body-bg: rgb(11, 23, 39);
  --bs-dark-rgb: 255, 255, 255;

  /* Easy Frontend variables */
  --ezy-form-card-bg: #162231;
  --ezy-form-card-shadow: none;
}

.ezy__signin1-heading {
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: var(--bs-body-color);
}

.ezy__signin1-form-card {
  background-color: var(--ezy-form-card-bg);
  border: none;
  box-shadow: var(--ezy-form-card-shadow);
  border-radius: 15px;
}

.ezy__signin1-form-card * {
  color: var(--bs-body-color);
}

.ezy__signin1 .form-control {
  min-height: 48px;
  line-height: 40px;
  border-color: transparent;
  background: rgba(163, 190, 241, 0.14);
  border-radius: 10px;
  color: var(--bs-body-color);
}

.ezy__signin1 .form-control:focus {
  border-color: var(--ezy-theme-color);
  box-shadow: none;
}

.ezy__signin1-btn-submit {
  padding: 12px 30px;
  background-color: #333b7b;
  color: #ffffff;
}

.ezy__signin1-btn-submit:hover {
  color: #ffffff;
}

.ezy__signin1-btn {
  padding: 12px 30px;
}

.ezy__signin1-btn,
.ezy__signin1-btn * {
  color: #ffffff;
}

.ezy__signin1-btn:hover {
  color: #ffffff;
}

.ezy__signin1-or-separator {
  position: relative;
}

.ezy__signin1-or-separator hr {
  border-color: var(--bs-body-color);
  opacity: 0.15;
}

.ezy__signin1-or-separator span {
  background-color: var(--ezy-form-card-bg);
  color: var(--bs-body-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  opacity: 0.8;
}




/* start @media  */
@media   (max-width: 768px)  {
    .category .col{gap: 10px;}
}
@media   (max-width: 992px)  {
    .category{

    }
}
@media   (max-width: 1200px)  {
    .category{
}
/* End @media  */